* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Thin', sans-serif;
    font-family: 'Roboto Light', sans-serif;
    font-family: 'Roboto Medium', sans-serif;
    font-family: 'Roboto Black', sans-serif;
}

body {
    background: black;
}

.flex {
    display:flex;
    justify-content: center;
}

#collection {
    padding-top: 10px;
    display: grid;
    grid-template-areas:
    "a b"
    "c d";
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

#corner {
    width:100px;
    height:100px;
}

#top-headers {
    display: grid;
    grid-template-columns: repeat(18, 40px);
}

#top-headers h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    border: 1px solid black;
}
#top-headers h2:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg) scale(1.1) ;
    writing-mode: vertical-lr;
    z-index: 10;
}

#left-headers {
    display: inline-grid;
    grid-template-columns: repeat(1, 100px);
}

#left-headers h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(18, 40px);/* repeat(3, 50px);*/
    align-self: baseline;
}

.grid div {
    height: 40px;
    /* width: 50px; */
    border: 1px solid black;
}

.cell.c1 {
    background-color: red;
}

.cell.c2 {
    background-color: green;
}

.cell.c3 {
    background-color: black;
}

.cursor-pointer:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 0px 30px 0px rgba(232, 0, 0, 0.67);
    z-index: 10;
    border: 2px solid black;
}

.modal {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0);
}



.common {
    background-color: rgb(52 211 153);
}
.uncommon {
    background-color:  rgb(253 224 71);
}
.rare {
    background-color: rgb(217 119 6);
}
.epic {
    background-color: rgb(6 182 212);
}
.super-rare {
    background-color: rgb(244 63 94);
}

.collected {
    background-color: green;
}

.uncollected {
    background-color: red;
}